extends layout

block content
  .panel.panel-default(style="width:980px; margin:auto")
    .panel-heading: h4 Node.js & Apache Cassandra
    .panel-body
      p
        | Results for &nbsp;
        code #{query}
    table.table.table-striped.table-hover
      thead
        tr
          th #
          th Show Number
          th Air Date
          th Round
          th Category
          th Value
          th Question
          th Answer
      tbody
        each row, i in rows
          tr
            td= i+1
            td= row.shownumber
            td= row.airdate
            td= row.round
            td= row.category
            td.text-right= row.value
            td(style="width:400px")= row.question
            td= row.answer
