extends layout

block content
  form
    .form-group
      label(for="query") Query
      textarea.form-control#query(name="query", rows="3") #{query}
    .form-group
      button.btn.btn-primary Go

  .panel.panel-default
    .panel-heading: h4 Node.js & Apache Cassandra
    .panel-body
      - var keys = rows !== undefined ? Object.keys(rows[0]) : undefined;
      p
        | Results for &nbsp;
        code #{query}
      if error
        h3.text-danger Error
        p #{error}
    table.table.table-striped.table-hover
      if rows
        thead
          tr
            th #
            each key in keys
              th #{key}
        tbody
          each row, i in rows
            tr
              td= i+1
              each key in keys
                td(class="#{key}")= row[key]
