extends layout

block content
  form
    .form-group
      label(for="query") Query
      textarea.form-control#query(name="query", rows="3") #{query}
    .form-group
      button.btn.btn-primary Go

  .panel.panel-default
    .panel-heading: h4 Node.js & Apache Cassandra
    .panel-body
      - var results = false;
      if result
        if result.rows
          if result.rows[0]
            - results = true;
      if results
        - var keys = Object.keys(result.rows[0]);
      p
        | #{(results) ? result.rowLength : 0} results for &nbsp;
        code #{query}
      if error
        h3.text-danger Error
        code #{error}
    table.table.table-striped.table-hover
      thead
        tr
          th #
          if results
            each key in keys
              th #{key}
          else
            th 0 rows returned
      tbody
        if results
          each row, i in result.rows
            tr
              td= i+1
              each key in keys
                td(class="#{key}")= row[key]
